.storeTable{
    width: 100%;
    height: 100%;
    padding:20px 10px;
    
}
.storeTable table{
    width: 100%;
    box-shadow: 0.25em 0.25em  0.25em  rgba( 0, 0, 0, 0.4 );
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
th, td{
    width: 120px;
}
tr:nth-child(even){
    background-color: white;
}
th{
    height: 30px;
    padding: 1px;
    border: 1px solid black;
    background-color: #3E454D; 
}
td{
    color: black;
    border: 1px solid black;
}